@import url('https://fonts.bunny.net/css?family=Nunito');

@import 'bootstrap-icons/font/bootstrap-icons.css';

$primary: rgb(5, 49, 110);
$body-bg: lighten($primary, 90%);

@import 'bootstrap/scss/bootstrap';

div.divider {
    height: 3rem;
    background-color: rgba(5, 49, 110, 0.1);
    border: solid rgba(5, 49, 110, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(5, 49, 110, 0.1), inset 0 .125em .5em rgba(5, 49, 110, 0.15);
}

div.bg-surgery {
    background-image: url('/public/img/surgery.jpg');
    background-color: $body-bg;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
}

div.carousel-img {
    height: 20rem;
    width: 100%;
    background-color: $body-bg;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 !important;
}

div.carousel-img.carousel-img-3 {
    background-image: url('/public/img/slide-3.jpg');
}
div.carousel-img.carousel-img-2 {
    background-image: url('/public/img/slide-2.jpg');
}
div.carousel-img.carousel-img-1 {
    background-image: url('/public/img/slide-1.jpg');
}

img.service-icon {
    width: 64px;
    height: 64px;
}

ul.list-szajsebeszet {
}

ul.list-szajsebeszet li {
    line-height: 32px;
    list-style: none;
}

ul.list-szajsebeszet li::marker {
    content: " ";
    width: 16px;
    height: 16px;
    background-image: url('/public/img/szajsebeszet-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}
